
// imports base
@import 'base/reset';
@import 'base/base';
@import 'base/typography';

// imports layout
@import 'layout/grid.scss';
@import 'layout/jumbotron.scss';
@import 'layout/three.scss';
@import 'layout/team.scss';
@import 'layout/company.scss';
@import 'layout/composants.scss';
@import 'layout/description-text.scss';
@import 'layout/description-img-title.scss';
@import 'layout/desc-medium.scss';
@import 'layout/desc-big.scss';
@import 'layout/header.scss';
@import 'layout/contact.scss';
@import 'layout/footer.scss';