.composants-contain {
  margin: 50px 0;
}

.composants {
  position: relative;
  max-height: 330px;
  width: 100%;
  margin: 30px 0;

  color: $text-white;
  text-align: center;
  font-weight: 900;

  background: $bg-primary;
  border-radius: 6px;
}

.composants-contain-title {
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: center ;
  padding: 0 20px;
}

.composants-title {
  padding: 0;

  z-index: 2;
}

.composants-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  border-radius: 6px;
  background: top / cover no-repeat url(images/pepiniere.jpg);
  opacity: .4;
  transition: .4s;
}

.composants-img-2 {
  background-image: url(images/fablab/fablab.jpg);
}

.composants-img-3 {
  background-image: url(images/residents.jpg);
}

.composants-img-4 {
  background-image: url(images/services.jpg);
}

.composants:hover .composants-img {
  top: 10px;
  left: 10px;
}

@media only screen and (min-width: 700px) {
  .composants {
    margin: 0;
  }

  .composants-contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px; 
  }
}

@media only screen and (min-width: 1100px) {
  .composants {
    margin: 0;
  }
  
  .composants-contain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px; 
  }
}