.company {
  width: 100%;
  margin: 50px 0;
  
  text-align: center;
}

.company-logo {
  width: 100%;
  height: 250px;
  background: center / contain no-repeat url(images/entreprises/hd-webmarketing.jpg);
}

.company-logo-1 { 
  background-image: url(images/entreprises/btp-consultant.jpg);
}

.company-logo-2 { 
  background-image: url(images/entreprises/big-moustaches.jpg);
}

.company-logo-3 { 
  background-image: url(images/entreprises/creo.jpg);
}

.company-logo-4 { 
  background-image: url(images/entreprises/union.jpg);
}

.company-logo-5 { 
  background-image: url(images/entreprises/sqare-squid.jpg);
}

.company-logo-6 { 
  background-image: url(images/entreprises/cifea-mkg.png);
}

.company-name {
  margin-top: 10px;

  font-weight: 600;
  font-size: 1.2rem;
}

@media only screen and (min-width: 700px) {
  .company {
    margin: 10px 0;
  }

  .container-company {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 60px;
  }
}

@media only screen and (min-width: 900px) {
  .container-company {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-column-gap: 60px;
  }
}