.desc-big {
  margin: 60px 0;
}

.desc-big-img {
  width: 100%;
  height: 500px;
  margin: 20px 0;

  background: center / cover no-repeat url(/images/popschool.jpg);;
}

.desc-big-img-2 {
  background-image: url(/images/bge.jpg);;
}

.desc-big-text {
  margin-bottom: 20px;
  min-height: 150px;
}

@media only screen and (min-width: 800px) {
  .container-desc-big {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
}