html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.bg-primary {
  background-color: #472F88 !important;
}

.bg-secondary {
  background-color: #E72287 !important;
}

.bg-success {
  background-color: #4AC047 !important;
}

.bg-danger {
  background-color: #D03333 !important;
}

.bg-warning {
  background-color: #FAD449 !important;
}

.bg-info {
  background-color: #0075FF !important;
}

.bg-light {
  background-color: #E1E1E1 !important;
}

.bg-dark {
  background-color: #1A1A1A !important;
}

.bg-white {
  background-color: #FFF !important;
}

.text-primary {
  color: #472F88 !important;
}

.text-secondary {
  color: #E72287 !important;
}

.text-success {
  color: #4AC047 !important;
}

.text-danger {
  color: #D03333 !important;
}

.text-warning {
  color: #FAD449 !important;
}

.text-info {
  color: #0075FF !important;
}

.text-light {
  color: #E1E1E1 !important;
}

.text-dark {
  color: #1A1A1A !important;
}

.text-white {
  color: #FFF !important;
}

.title {
  font-size: 1.7rem;
  font-weight: 900;
}

.title-design::after {
  content: "";
  display: block;
  margin-top: 5px;
  height: 10px;
  width: 100px;
  background-color: #472F88;
  border-radius: 6px;
}

strong {
  font-weight: 600;
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 11px 38px;
  color: #E1E1E1;
  text-align: center;
  background-color: #472F88;
  border: 2px solid #472F88;
  border-radius: 6px;
  transition: 0.3s;
}

.btn-white {
  color: #472F88;
  background-color: #E1E1E1;
  border: 2px solid #E1E1E1;
}

.btn-primary {
  color: #E1E1E1;
  background-color: #472F88;
  border: 2px solid #472F88;
}

.btn-white:hover {
  color: #E1E1E1;
  background: none;
  border: 2px solid #FFF;
}

.btn-primary:hover {
  color: #472F88;
  background: none;
  border: 2px solid #472F88;
}

@media only screen and (min-width: 450px) {
  .btn {
    width: auto;
  }
}
@font-face {
  font-family: "Maax";
  src: url("Maax.ttf");
}
html {
  font-size: 18px;
}

body {
  font-family: "Maax", sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 30px;
}

.container-small {
  max-width: 760px;
  margin: 0 auto;
  padding: 40px 30px;
}

.jumbotron {
  min-height: 580px;
  background: linear-gradient(rgba(25, 8, 71, 0.9), rgba(25, 8, 71, 0.9)), fixed center/cover no-repeat url(/images/graphic-nf/batiment-nf.jpg);
}

.jumbotron-logo {
  width: 70px;
  margin-top: 0px;
  margin-bottom: 90px;
}

.jumbotron-title {
  width: 100%;
  margin-bottom: 20px;
  color: #FFF;
  font-weight: 900;
  font-size: 1.9rem;
  line-height: 1.2em;
}

.jumbotron-text {
  width: 100%;
  margin-bottom: 45px;
  color: #FFF;
  font-weight: 500;
  font-size: 1.125rem;
}

@media only screen and (min-width: 735px) {
  .jumbotron {
    height: 700px;
  }

  .jumbotron-logo {
    margin-top: 35px;
    margin-bottom: 150px;
  }

  .jumbotron-title {
    font-size: 4rem;
  }

  .jumbotron-text {
    width: 670px;
  }
}
.three {
  margin-top: 50px;
  text-align: center;
}

.three i {
  margin-bottom: 20px;
}

@media only screen and (min-width: 980px) {
  .three-contain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
  }
}
.team {
  width: 100%;
  margin: 50px 0;
  text-align: center;
}

.team-img {
  width: 100%;
  height: 250px;
  background: center/cover no-repeat url(/images/team/team-portrait-1.jpg);
}

.team-img-2 {
  background-image: url(/images/team/team-portrait-2.jpg);
}

.team-img-3 {
  background-image: url(/images/team/team-portrait-3.jpg);
}

.team-img-4 {
  background-image: url(/images/team/team-portrait-4.jpg);
}

.team-img-5 {
  background-image: url(/images/team/team-portrait-5.jpg);
}

.team-name {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.2rem;
}

@media only screen and (min-width: 600px) {
  .container-team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
  }
}
@media only screen and (min-width: 870px) {
  .container-team {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.company {
  width: 100%;
  margin: 50px 0;
  text-align: center;
}

.company-logo {
  width: 100%;
  height: 250px;
  background: center/contain no-repeat url(/images/entreprises/hd-webmarketing.jpg);
}

.company-logo-1 {
  background-image: url(/images/entreprises/btp-consultant.jpg);
}

.company-logo-2 {
  background-image: url(/images/entreprises/big-moustaches.jpg);
}

.company-logo-3 {
  background-image: url(/images/entreprises/creo.jpg);
}

.company-logo-4 {
  background-image: url(/images/entreprises/union.jpg);
}

.company-logo-5 {
  background-image: url(/images/entreprises/sqare-squid.jpg);
}

.company-logo-6 {
  background-image: url(/images/entreprises/cifea-mkg.png);
}

.company-name {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.2rem;
}

@media only screen and (min-width: 700px) {
  .company {
    margin: 10px 0;
  }

  .container-company {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 60px;
  }
}
@media only screen and (min-width: 900px) {
  .container-company {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 60px;
  }
}
.composants-contain {
  margin: 50px 0;
}

.composants {
  position: relative;
  max-height: 330px;
  width: 100%;
  margin: 30px 0;
  color: #FFF;
  text-align: center;
  font-weight: 900;
  background: #472F88;
  border-radius: 6px;
}

.composants-contain-title {
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.composants-title {
  padding: 0;
  z-index: 2;
}

.composants-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  background: top/cover no-repeat url(/images/pepiniere.jpg);
  opacity: 0.4;
  transition: 0.4s;
}

.composants-img-2 {
  background-image: url(/images/fablab/fablab.jpg);
}

.composants-img-3 {
  background-image: url(/images/residents.jpg);
}

.composants-img-4 {
  background-image: url(/images/services.jpg);
}

.composants:hover .composants-img {
  top: 10px;
  left: 10px;
}

@media only screen and (min-width: 700px) {
  .composants {
    margin: 0;
  }

  .composants-contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
}
@media only screen and (min-width: 1100px) {
  .composants {
    margin: 0;
  }

  .composants-contain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
  }
}
.description {
  width: 85%;
  margin: 0 auto 80px auto;
  position: relative;
}

.description::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 10px;
  position: absolute;
  top: 0;
  left: -30px;
  background-color: #472F88;
  border-radius: 6px;
}

@media only screen and (min-width: 750px) {
  .description {
    width: 650px;
  }
}
.description-img-title {
  margin-top: 60px;
  margin-bottom: 60px;
}

.description-img {
  width: 90%;
  margin-top: 20px;
  background-color: #472F88;
  border-radius: 6px;
}

.img-style {
  width: 100%;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 6px;
}

@media only screen and (min-width: 800px) {
  .description-img-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .description-img {
    margin-top: -50px;
  }

  .description-img-title .title {
    grid-column: 2;
  }
}
.desc-medium {
  margin: 60px 0;
}

.desc-medium-img {
  width: 100%;
  margin: 20px 0;
}

.desc-medium-text {
  margin-bottom: 20px;
}

@media only screen and (min-width: 800px) {
  .container-desc-medium {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 70px;
  }
}
.desc-big {
  margin: 60px 0;
}

.desc-big-img {
  width: 100%;
  height: 500px;
  margin: 20px 0;
  background: center/cover no-repeat url(/images/popschool.jpg);
}

.desc-big-img-2 {
  background-image: url(/images/bge.jpg);
}

.desc-big-text {
  margin-bottom: 20px;
  min-height: 150px;
}

@media only screen and (min-width: 800px) {
  .container-desc-big {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
}
.header {
  height: 450px;
  margin-bottom: 200px;
  color: #FFF;
  background-color: #472F88;
}

.header-title {
  margin-top: 200px;
  font-size: 2.5rem;
}

.navbar {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  height: 80px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4E368F;
  box-shadow: 0px 9px 27px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  height: 50px;
  width: 50px;
}

.navbar:last-child {
  margin-right: 0;
}

.header svg {
  position: relative;
  margin-top: -100px;
  z-index: -1;
}

.nav-item {
  margin: 0 15px;
  transition: 0.3s;
  cursor: pointer;
}

.nav-item:hover {
  color: #E72287;
}

.burger {
  display: none;
}

.icon-dropdown {
  margin-left: 8px;
}

.dropdown {
  position: relative;
}

.dropdown-open {
  display: none;
  position: absolute;
  width: 150px;
  padding: 10px;
  top: 40px;
  left: 0;
  background-color: #FFF;
  border: 1px solid #1A1A1A;
  border-radius: 6px;
}

.dropdown-open-item {
  color: #1A1A1A;
  line-height: 1.8rem;
}

.dropdown-open-item:hover {
  color: #E72287;
}

@media only screen and (max-width: 1260px) {
  .header svg {
    margin-top: -50px;
  }
}
@media only screen and (max-width: 900px) {
  .header svg {
    margin-top: 20px;
  }

  .navbar {
    position: absolute;
  }

  .nav {
    padding: 20px;
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    min-height: 310px;
    color: #1A1A1A;
    line-height: 2rem;
    background-color: #FFF;
    border: 1px solid #1A1A1A;
  }

  .nav-item {
    display: block;
  }

  .burger {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 45px;
    margin-top: 12px;
    cursor: pointer;
  }

  .middle-bar {
    display: inline-block;
    height: 6px;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #FFF;
    border-radius: 6px;
  }

  .middle-bar:before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 6px;
    width: 100%;
    top: 13px;
    background-color: #FFF;
    border-radius: 6px;
  }

  .middle-bar:after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 6px;
    width: 100%;
    top: 26px;
    background-color: #FFF;
    border-radius: 6px;
  }
}
@media only screen and (max-width: 420px) {
  .header svg {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 900px) {
  .nav {
    display: block !important;
  }
}
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 6px;
  border: 2px solid #1A1A1A;
}

.submit {
  float: right;
}

.icons-contact {
  margin-top: 100px;
}

.block-contact {
  text-align: center;
  margin: 30px 0;
}

.icon-contact {
  margin-bottom: 15px;
}

.plan {
  margin: 100px 0;
  width: 100%;
}

@media only screen and (min-width: 570px) {
  .icons-contact {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }

  .block-contact {
    display: flex;
    align-items: center;
  }

  .icon-contact {
    margin-right: 20px;
  }
}
.footer {
  min-height: 255px;
  margin-top: 150px;
  background-color: #472F88;
  color: #FFF;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.footer a:hover {
  color: #E72287;
}

.container-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 25px;
}

.footer_title {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 10px;
}

.footer-social_icon i {
  padding: 15px 15px 0 0;
}

@media only screen and (min-width: 600px) {
  .container-footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
  }
}
@media only screen and (min-width: 1030px) {
  .container-footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
