
// colors
$bg-primary: #472F88;
$bg-secondary: #E72287;
$bg-success: #4AC047;
$bg-danger: #D03333;
$bg-warning: #FAD449;
$bg-info: #0075FF;
$bg-light: #E1E1E1;
$bg-dark: #1A1A1A;
$bg-white: #FFF;

$text-primary: #472F88;
$text-secondary: #E72287;
$text-success: #4AC047;
$text-danger: #D03333;
$text-warning: #FAD449;
$text-info: #0075FF;
$text-light: #E1E1E1;
$text-dark: #1A1A1A;
$text-white: #FFF;


//base CSS
a {
  color: inherit;
  text-decoration: none;

  transition: color .3s;
}

//background CSS
.bg-primary {
  background-color: $bg-primary !important;
}

.bg-secondary {
  background-color: $bg-secondary !important;
}

.bg-success {
  background-color: $bg-success !important;
}

.bg-danger {
  background-color: $bg-danger !important;
}

.bg-warning {
  background-color: $bg-warning !important;
}

.bg-info {
  background-color: $bg-info !important;
}

.bg-light {
  background-color: $bg-light !important;
}

.bg-dark {
  background-color: $bg-dark !important;
}

.bg-white {
  background-color: $bg-white !important;
}

//color-text CSS
.text-primary {
  color: $text-primary !important;
}

.text-secondary {
  color: $text-secondary !important;
}

.text-success {
  color: $text-success !important;
}

.text-danger {
  color: $text-danger !important;
}

.text-warning {
  color: $text-warning !important;
}

.text-info {
  color: $text-info !important;
}

.text-light {
  color: $text-light !important;
}

.text-dark {
  color: $text-dark !important;
}

.text-white {
  color: $text-white !important;
}

//fonts
.title {
  font-size: 1.7rem;
  font-weight: 900;
} 

.title-design::after {
  content: '';
  display: block;
  margin-top: 5px;
  height: 10px;
  width: 100px;

  background-color: $text-primary;
  border-radius: 6px;
}

strong {
  font-weight: 600;
}

//btn CSS
.btn {
  display: inline-block;
  width: 100%;
  padding: 11px 38px;

  color: $text-light;
  text-align: center;

  background-color: $text-primary;
  border: 2px solid $text-primary;
  border-radius: 6px;
  transition: .3s;
}

.btn-white {
  color: $text-primary;

  background-color: $bg-light;
  border: 2px solid $bg-light;
}

.btn-primary {
  color: $text-light;

  background-color: $text-primary;
  border: 2px solid $text-primary;
}

//hover
.btn-white:hover {
  color: $bg-light;

  background: none;
  border: 2px solid $bg-white;
}

.btn-primary:hover {
  color: $bg-primary;

  background: none;
  border: 2px solid $bg-primary;
}

//responsive
@media only screen and (min-width: 450px) {
  .btn {
    width: auto;
  }
}