
//typography CSS
@font-face {
  font-family: "Maax";
  src: url("Maax.ttf");
}

$font-stack: 'Maax';

html {
  font-size: 18px; 
}

body {
  font-family: $font-stack, sans-serif;
  line-height: 1.4;
}
